.venv/
venv/
__pycache__/
*.pyc
.git/
.github/
notebooks/
tests/
mlruns/
.ipynb_checkpoints/
.env

data/01_raw/
data/02_intermediate/
data/03_primary/
data/04_feature/
data/05_model_input/
data/08_reporting/